body {
  color: rgb(100,100,100);
  font-family: arial;
  margin: 0px;
}

h1 {font-size: 3em;
}

h2 {font-size: 2.5em
}

h3 {padding-top: 10px;
  padding-bottom: 5px;
}

#nevepic {
  display: flex;
  padding: 5px;
  margin: 0 auto;
  border-radius: 130px;
}

#fenellapic {
  display: flex;
  padding: 5px;
  margin: 0 auto;
  border-radius: 130px;
}

#bbcprotest {
  padding: 7px;
}

#starscores {
  padding: 7px;
}

#uniprotest {
  padding: 7px;
}

#unilogo {
  padding-top: 40px;
}

p {
  justify-content: flex-start;
  text-align: justify;
  }

a {color: rgb(0,0,0);
}

.fenellaheader {
  transition: 0.8s ease;
  }

.fenellaheader:hover {
    font-size: 3em;
    transition: 0.8s ease;
  }

/*above is fenella, below is neve ////////////////////////////////////////////////////////////////////////// */

.neveheader {
  transition: 0.8s ease;
  }

.neveheader:hover {
    font-size: 3em;
    transition: 0.8s ease;
  }

.newshead1 {
  transition: 0.8s ease;
  }

.newshead1:hover {
  font-size: 2em;
  transition: 0.8s ease;
  }

  .newshead2 {
    transition: 0.8s ease;
    }

  .newshead2:hover {
    font-size: 2em;
    transition: 0.8s ease;
    }

    .newshead3 {
      transition: 0.8s ease;
      }

    .newshead3:hover {
      font-size: 2em;
      transition: 0.8s ease;
      }

  
