body {
  color: rgb(100,100,100);
  font-family: arial;
  margin: 0px;
}



h2 {font-size: 2.5em
}

h3 {padding-top: 10px;
  padding-bottom: 5px;
}

#nevepic {
  display: flex;
  padding: 5px;
  margin: 0 auto;
  border-radius: 130px;
}

#fenellapic {
  display: flex;
  padding: 5px;
  margin: 0 auto;
  border-radius: 130px;
}

#bbcprotest {
  padding: 7px;
}

#starscores {
  padding: 7px;
}

#uniprotest {
  padding: 7px;
}

#unilogo {
  padding-top: 40px;
}

p {
  justify-content: flex-start;
  text-align: justify;
  }

a {color: rgb(0,0,0);
}

.fenellaheader {
  transition: 0.8s ease;
  }

.fenellaheader:hover {
    font-size: 3em;
    transition: 0.8s ease;
  }

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox-img {
  max-width: 100%;
}
.hvrbox .hvrbox-hvrbox_layer_bottom {
  display: block;
}
.hvrbox .hvrbox_layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,46,0);
  color: white;
  padding: 25px;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox_layer_top,
.hvrbox:active .hvrbox_layer_top {
  opacity: 0.6;
}
.hvrbox .hvrbox-text {
  justify-content: flex-start;
  text-align: justify;
  font-size: 6em;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/*above is fenella, below is neve ////////////////////////////////////////////////////////////////////////// */

.neveheader {
  transition: 0.8s ease;
  }

.neveheader:hover {
    font-size: 3em;
    transition: 0.8s ease;
  }

.newshead1 {
  transition: 0.8s ease;
  }

.newshead1:hover {
  font-size: 2em;
  transition: 0.8s ease;
  }

  .newshead2 {
    transition: 0.8s ease;
    }

  .newshead2:hover {
    font-size: 2em;
    transition: 0.8s ease;
    }

    .newshead3 {
      transition: 0.8s ease;
      }

    .newshead3:hover {
      font-size: 2em;
      transition: 0.8s ease;
      }

    #welcome {
      font-size:4em;
      padding-top: 70px;
    }

    #uslogo {
      padding-top: 40px;
    }
